<div>
  <h3>Online Plyaers: <%= Enum.count(@streams.presences) %></h3>

  <h3>Actions</h3>

  <.button id="create_game" phx-click="create_game">
    Create Game
  </.button>

  <.link>
    <.button id="join_game" phx-click="join_game">
      Join Game
    </.button>
  </.link>
</div>
